<h1>Sign up</h1>
<%= form_for :registration, url: registrations_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password_digest %>
  </p>

  <p>
    <%= f.submit "Sign up" %>
  </p>
<% end %>