<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <p class="<%= key %>"><%= message %></p>
    <% end %>
    <% if current_user %>
      Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Sign up', new_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
